
  body {
    display: flex;
    flex-direction: column ;
    background-image: url(../images/fundo-da-parede-de-tijolo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    background-color: #010a01;
  }

  .intro-game {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  #logo-game {
    height: 300px;
    width: 300px;
    border-radius: 30px;
    display: flex;
    justify-items: center;
  }

  #arcade-logo {
    height: 300px;
    width: 300px;
  }

  #game-night {
    height: 300px;
    width: 350px;
  }

  .neonText {
    animation: flicker 1.5s infinite alternate;
    color: #fff;
  }
  
  h1 {
    font-size: 4.2rem;    
  }
  
  /* Flickering animation */
  @keyframes flicker {
      
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
  
        text-shadow:
        0 0 4px #fff,
      0 0 10px #fff,
      0 0 18px #fff,
      0 0 38px #f09,
      0 0 73px #f09,
      0 0 80px #f09,
      0 0 94px #f09,
      0 0 140px #f09;
    
    }
    
    20%, 24%, 55% {        
        text-shadow: none;
    }    
  }
  
  a {
    text-decoration: none;
  }
    
  h2 {
   font-size: 1.8rem;
  }
  .container {
    margin-top: 20vh;
  }
    
  h1, h2 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    border: 0.2rem solid #fff;
    border-radius: 2rem;
    padding: 0.4em;
    box-shadow: 0 0 .2rem #fff,
              0 0 .2rem #fff,
              0 0 2rem #bc13fe,
              0 0 0.8rem #bc13fe,
              0 0 1.5rem #bc13fe,
              inset 0 0 1.3rem #bc13fe;
    animation: none;
  }

  #menu {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
  #aboutMe {
    font-size: 50px;
    margin-left: 70px;
    
  }

  #about-me-title {
    margin-left: 350px;
    width: 50%;
  }

  #profile-photo {
    width: 25%;
    height: 25%;
    border-radius: 50%;
    margin-left: 50px;
  }

  #github {
    width: 10%;
    height: 10%;
  }

  #game-area {
    display: flex;
    justify-content: center;
  }

  #game-area canvas {
    border: 1px solid pink;
    background-color: black;
  }

  #home-link {
   margin-left: 600px;
    width: 20%;
  }

  .message {
    display: flex;
    flex-direction: row;
  }

  #profile-text {
    font-size: 30px;
    margin-left: 70px;
    line-height: 1.5;
  }

  #followMe {
    border-radius: 30px;
    width: 600px;
    height: 250px;
  }

  .buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;    
  }

  .btn-start {
    height: 50px;
    width: 10%;
  }

  .btn-reset {
    height: 50px;
    width: 10%
  }

  .music {
    height: 50px;
    width: 100px;
    border-radius: 30px;
    margin-left: 40px;
  }